<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 
<body>
    <%- include("partials/navbar.ejs") %>
    <div class="container mt-4">
        <h1>About</h1>
        <p>Ini halaman about</p>
    </div> 
</body>
</html>